<div class="conclusion">
  Your application can handle <span class="rpm"><%= @metrics.first.prediction.to_i %> RPM</span> before exhausting <span class="rpm"><%= @metrics.first.name %></span> on <span class="rpm"><%= @metrics.first.agent.hostname %></span>
</div>

<br /><br /><br />

<script>
var margin = {top: 20, right: 20, bottom: 30, left: 50},
    width = 480 - margin.left - margin.right,
    height = 250 - margin.top - margin.bottom;

var x = d3.scale.linear()
    .range([0, width]);

var y = d3.scale.linear()
    .range([height, 0]);

var path_x = d3.scale.linear()
    .range([0, width]);

var path_y = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");

var line = d3.svg.line()
    .x(function(d) { return path_x(d[0]); })
    .y(function(d) { return path_y(d[1]); });

</script>


<% @metrics.each_with_index do |metric, index| %>
  <div class="metric">
    Name:<%= metric.name %><br />
    Host:<%= metric.agent.hostname %><br />
    Prediction:<%= metric.prediction.to_i %><br />
    <div id="graph-<%= index %>"></div>
<script type="text/javascript">
  var svg = d3.select("#graph-<%= index %>").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  points = <%= metric.points %>
  best_fit = <%= metric.best_fit %>

  x.domain(d3.extent(points, function(d) { return d[0]; }));
  y.domain([0, d3.max(points, function(d) { return d[1]; })]);

  svg.append("path")
      .datum(best_fit)
      .attr("class", "line")
      .attr("d", line);

  svg.selectAll("dot")
     .data(points)
     .enter().append("circle")
     .attr("r", 3.5)
     .attr("cx", function(d) { return x(d[0]); })
     .attr("cy", function(d) { return y(d[1]); });

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("RPM");

</script>

<% end %>
